@value knitBlack, knitGray_light, knitRed, knitRed_dark, knitGreen, knitGreen_dark from '../../common/colors.css';

.header {
  background: knitBlack;
  display: grid;
  font-weight: 600;
  grid-template-columns: 320px 1fr;
  padding: 5px 0px;
}

.menu,
.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header button {
  font-size: 0.7rem;
}

.icon {
  font-size: 1.5rem;
}

.hideMenu_hide {
  background: knitGreen;
}
.hideMenu_hide:hover {
  background: knitGreen_dark;
}

.hideMenu_open {
  background: knitRed;
}
.hideMenu_open:hover {
  background: knitRed_dark;
}

.noUse {
  background: knitGray_light;
  cursor: default;
}
.noUse:hover {
  background: knitGray_light;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }

  .icon {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 110px 1fr;
  }

  .header button {
    padding: 5px;
  }

  .btnText {
    display: none;
  }
}
