@value knitBlack, knitBlue, knitGray from '../../common/colors.css';

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  align-items: center;
  background: knitBlack;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.loading span {
  animation: spinner 1s ease infinite;
  border: 10px solid knitBlue;
  border-right-color: knitBlack;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.circle {
  animation: spinner 1s ease infinite;
  border: 7px solid knitBlue;
  border-top: 7px solid knitGray;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.notLoading {
  display: none;
}
