@value knitGray, knitWhite from './common/colors.css';
@value minWidth from './common/sizes.css';

html,
body {
  background: knitGray;
  color: knitWhite;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  min-width: minWidth;
  padding: 0;
  text-align: center;
  word-break: keep-all;
}

.header,
.videoDetail,
.videoMore,
.error {
  min-width: minWidth;
}

.app {
  display: grid;
  grid-template-areas:
    "header	header"
    "	menu	video"
    "	menu	video";
  grid-template-columns: 320px 1fr;
  overflow: hidden;
}

.videoWidth {
  grid-template-areas:
    "header"
    "video"
    "video";
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  height: 50px;
  z-index: 5;
}

.menu {
  grid-area: menu;
}

.videoCont {
  grid-area: video;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.videoDetail,
.videoMore {
  margin: 60px;
}

.gone {
  display: none;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .videoDetail,
  .videoMore {
    margin: 30px;
  }
}

@media (max-width: 1024px) {
  .app {
    grid-template-areas:
      "header"
      "menu"
      "video";
    grid-template-columns: 1fr;
  }

  .menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}
