@value knitBlue, knitBlue_dark, knitWhite from './common/colors.css';

body {
  margin: 0;
  font-family: "HallymGothic-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: knitWhite;
}
a:hover {
  color: knitBlue;
}

ul,
li {
  list-style: none;
  -webkit-padding-start: 0px;
}

button {
  align-items: center;
  border: none;
  background: knitBlue;
  border-radius: 20px;
  color: knitWhite;
  cursor: pointer;
  display: flex;
  font-family: "HallymGothic-Regular";
  font-weight: 600;
  justify-content: center;
  padding: 5px 15px;
}
button:hover {
  background: knitBlue_dark;
}
button span {
  padding: 0px 5px;
}

@font-face {
  font-family: "HallymGothic-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
}
